.main2{
   display: flex;
   justify-content: center;
    align-items: center;
   flex-wrap: wrap;
    width: 300px;
    margin-left: 500px;
    
    margin-top: 10px;
}
img{
    width: 20px;
    height: 20px;
}