<app-slider [Characters]="sliderCharacters"></app-slider>
<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<div class="main1">
<ng-container  *ngFor="let item of allCharacters" >
    <div  class="card" style="width: 18rem;"
    *ngIf="item.name.toLowerCase().includes(searchText)">
        <img [src]="item.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.status}}</p>
          <a href="#" class="btn btn-primary">{{item.species}}</a>
        </div>
      </div>


</ng-container>
</div>



